@import '@/styles';

.bannerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid $gray-800;
}

.imageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 1/ 1.02777777;
  overflow: hidden;
}

.postImage {
  width: 100%;
}

.bannerHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  padding: 16px;
  top: 0;
}

.bannerHeaderButton {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.titleArea {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 16px;
  background: transparent;
  box-sizing: border-box;
  bottom: 21px;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  gap: 6px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11.45px);
  border-radius: 4px;
  color: $white;

  & h1 {
    margin: 0;
    padding: 0;
    @include bold-title-2;
    line-height: 26px;
  }
  & span {
    margin: 0;
    padding: 0;
    @include semibold-sub-headline;
    line-height: 18px;
  }
}

.date {
  @include timestamp;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  background: linear-gradient(135.19deg, #ffc300 -306.58%, #992100 1114.57%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: absolute;
  z-index: 20;
  bottom: 96px;
  right: 16px;
}

.hashTagToolBox {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  padding: 16px;
}

.hashtagList {
  display: flex;
  gap: 2px;
}

.hashtag {
  @include regular-footnote;
  line-height: 16px;

  color: $blue-500;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.featBoxArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.featBox {
  display: flex;
  gap: 12px;
}

.featBoxButton {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.countBox {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  & span {
    @include regular-caption-1;
    line-height: 14px;
    color: #888888;
  }
}

.optionButton {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.optionMenuBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 10;
  filter: drop-shadow(0px 0px 32px rgba(0, 0, 0, 0.2));
  width: 200px;
  border-radius: 12px;
  right: 0;
  margin-top: 8px;
}

.optionMenuButton {
  display: flex;
  justify-content: flex-start;
  padding: 13px 16px;
  margin: 0;

  width: 200px;
  background: #b3b3b3;
  opacity: 0.82;
  outline: none;
  border: none;
  cursor: pointer;

  color: $gray-900;
  @include regular-sub-headline;
  line-height: 18px;
  letter-spacing: -0.25px;

  transition: ease-in-out 0.5s ease;

  &.top {
    border-radius: 12px 12px 0 0;
    border-top: 0.5px solid #d1d1d1;
  }

  &.bottom {
    border-radius: 0 0 12px 12px;
    border-bottom: 0.5px solid #d1d1d1;
  }

  &:hover {
    background: $gray-50;
    opacity: 1;
  }
}
